body{
	font-family: 'Montserrat', sans-serif;
}
.fundo{
	display: block;
	width: 100%;
	margin-top:-10%;
}

.sectionInicial{
	height: 100vh;
	overflow: hidden;
}
.padrao{
	background-color: #1aac92;
	background-size: 30px 30px;
	background-image: url("../img/padrao.png");
    
}

.texto{
	color: #3D3D3D;
	text-align: left;
	margin-right:5%;
	margin-left:5%;
	margin-top:5%;
}
.remove_padding{
	padding-left: 0px;
	padding-right: 0px;
}
.container_do{
	margin-top: 20px;
	margin-bottom: 20px;
}
.container_do img{
	width: 70%;
	display: block;
	margin-right: auto;
	margin-left: auto;

}
.container_do h3{
	color: white;
	text-align: center;

}
.btn_more{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
}
.btn_more a{

	color: #3d3d3d;
	border: 1px solid #3d3d3d;
	padding-top: 10px;
	padding-bottom:10px;
	padding-right: 35px;
	padding-left: 35px;
	font-weight: 100;


}
.works_icons{
	width: 80%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
}
.works_icons a img{ 
	width: 20%;
	margin-left: 10%;
	margin-right: 10%;
}


.logo_nav{
	width: 25px;
}
.logo{
	display: block;
	margin-right: 20%;
	margin-left: 20%;
	position: absolute;
	top:16vh;
	width: 60%;
}

.titulo_team{
	color: #1aac92;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.container_photo{
	height: 350px;
    display: block;
    overflow: hidden;
    width: 100%;
    position: absolute;
        padding: 25px;
        color: white;

}
.container_icons{
	margin-top: 120px;
	display: block;
	width: 100%;
}
.container_icons a img{
	display: inline-block;
	margin-right: 5px;
	width: 60px;
}
.photo2{
	width: 100%;
	filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  position: absolute;
  width: 100%;
}
.container_caption{
	background: rgba(26,172,146,100);
	padding: 20px;
	position: absolute;
  	width: 100%;
  	z-index: 10;
 	 opacity: 0;
 	 height: 100%;
 	   -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.container_caption:hover{
	opacity: 0.8;


}
.transition{
 -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}